<%- include ('partials/header.ejs') %>

<section>

  <h2>
    <% if (locals.mensagem) { %>
      <p><%=mensagem%></p>
<%    } %>
  </h2>
  <h2>
    <% if (locals.failureMessage) { %>
      <p>teste</p>
<%    } %>
  </h2>

</section>

<section>
<!--Area de login-->

<div class="container">
    <form class="form-signin" action="/login" method="post">

      
        <div class="form-label-group">
            <label for="inputEmail">Email</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="" name="username">
        </div>
      
        <div class="form-label-group">
            <label for="inputPassword">Senha</label>

          <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required="" name="password">
        </div>
      
       
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p>Não está cadastrado: <a href="/register">Registre</a></p>
        <p class="mt-5 mb-3 text-muted text-center">© 2017-2019</p>
      </form>

</div>

</section>

<%- include ('partials/footer.ejs') %>